@import 'fonts';

$black: #282828;

body {
    // background: $black;
    font-family: 'GT Eesti Pro Display', sans-serif;
}

.container {
    padding: 0 1rem;
    max-width: 1262px;
    width: 100%;
    margin: 0 auto;
    &--sec {
        max-width: 1402px;
    }
}

.title {
    font-weight: 500;
    font-size: 4.875rem;
    line-height: 1.24;
}

.subtitle {
    font-weight: 500;
    font-size: 2.1875rem;
    max-width: 615px;
    line-height: 1.34;
}

.dots {
    position: absolute;
    z-index: -1;
}

.header {
    padding: 5.4375rem 0 3.375rem;
    // position: fixed;
    top: 0;
    background: #ffffff;
    // left: 50%;
    // transform: translateX(-50%);
    z-index: 200;
    width: 100vw;
    &__logo img {
    }
    &__inner {
        display: flex;
        justify-content: space-between;
    }
    &__nav {
        display: flex;
        column-gap: 3rem;
    }
    &__link {
        font-weight: 400;
        font-size: 1.125rem;
        line-height: 1.55;
        color: $black;
        text-decoration: none;
    }
}

.intro {
    height: 1080px;
    // padding-top: 3.375rem;
    padding-top: 232px;
    position: relative;
    background-image: url(../img/intro.png);
    background-size: 2459px;
    background-repeat: no-repeat;
    // background-position-x: -50%;
    // background-position-y: bottom;
    background-position-x: 98%;
    background-position-y: 22%;
    .dots {
        // top: -34px;
        top: 144px;
        right: 0;
        z-index: 2;
    }
    &__inner {
        position: relative;
        z-index: 5;
    }
    &__title {
        font-size: 5.625rem;
        // margin-top: 232px;
        margin-left: auto;
        color: #000000;
        max-width: 1025px;
        margin-bottom: 216px;
    }
    &__subtitle {
        max-width: 615px;
        color: #000000;
        margin-left: auto;
    }
}

.handwritten {
    padding-bottom: 84px;
    position: relative;
    .dots {
        top: 0;
        right: 0;
    }
    &__subtitle {
        margin-right: 193px;
        margin-left: auto;
        margin-bottom: 19px;
    }
    &__inner {
        display: flex;
    }
    &__col {
        width: 50%;
    }
    &__pages {
        position: relative;
        margin-bottom: 49px;
    }
    &__page {
        margin-bottom: -290px;
        filter: drop-shadow(0 4px 50px rgba(0, 0, 0, 0.05));
        &:last-child {
            margin-left: 228px;
            margin-bottom: 0;
        }
    }
    &__arrow {
        position: absolute;
        bottom: 84px;
        left: 19px;
        z-index: 10;
        &--sec {
            right: 36px;
            left: auto;
            bottom: auto;
            top: 220px;
        }
    }
    &__row {
        display: flex;
        justify-content: space-between;
    }
    &__text {
        font-family: 'GT Eesti Pro Text';
        font-weight: 400;
        font-size: 1.125rem;
        line-height: 1.55;
        margin-top: 68px;
        max-width: 205px;
    }
    &__examples {
        position: relative;
        margin-top: 32px;
    }
    &__example {
        display: block;
        margin-left: auto;
        margin-bottom: -81px;
        filter: drop-shadow(0 4px 50px rgba(0, 0, 0, 0.05));
        position: relative;
        z-index: 2;
        &:last-child {
            // margin-top: -81px;
            margin-left: 0;
            margin-right: auto;
            z-index: 1;
        }
    }
    &__doc {
        margin-top: 34px;
    }
}

.resolution {
    position: relative;
    padding-top: 86px;
    &__subtitle {
        margin-left: 207px;
        margin-bottom: 83px;
    }
    &__inner {
        position: relative;
    }
    &__example {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
    }
    &__box {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        display: flex;
        justify-content: space-around;
    }
    &__timeline {
        width: 87px;
        height: 43px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #ffffff;
        font-family: 'GT Eesti Pro Text';
        font-size: 1.1875rem;
        font-weight: 700;
        color: #000000;
    }
    &__text {
        padding-top: 36px;
        margin-left: auto;
        max-width: 410px;
        font-family: 'GT Eesti Pro Text';
        font-size: 1.125rem;
        line-height: 1.55;
        font-weight: 400;
        margin-bottom: 41px;
    }
    &__img {
        display: block;
        margin-left: auto;
        z-index: 2;
        position: relative;
        right: -150px;
    }
    &__brilliant {
        position: absolute;
        right: -30px;
        top: 0;
    }
    &__arrow {
        position: absolute;
        bottom: 26px;
        left: 104px;
    }
}

.copy {
    padding-top: 48px;
    padding-bottom: 70px;
    &__subtitle {
        margin-right: 205px;
        margin-left: auto;
    }
    &__row {
        display: flex;
        &--mt {
            margin-top: -200px;
            align-items: flex-end;
        }
    }
    &__img {
        display: block;
        margin-bottom: -284px;
        &:last-child {
            margin-left: auto;
            margin-bottom: 0;
            margin-right: -89px;
        }
    }
    &__text {
        font-family: GT Eesti Pro Text;
        margin-left: auto;
        margin-top: 94px;
        max-width: 521px;
        font-size: 18px;
        line-height: 1.55;
        &--sec {
            margin-top: 0;
            margin-left: 52px;
            max-width: 400px;
            flex-shrink: 0;
        }
    }
    &__wrap {
        display: flex;
        align-items: center;
        margin-top: 16px;
        flex-shrink: 0;
    }
}

.conception {
    padding-top: 34px;
    position: relative;
    padding-bottom: 212px;
    &__subtitle {
        margin-left: 205px;
        margin-bottom: 54px;
    }
    &__inner {
        display: flex;
        justify-content: flex-end;
    }
    &__item {
        max-width: 225px;
        display: flex;
        flex-direction: column;
        &--sec {
            max-width: 295px;
            margin-top: 100px;
            margin-left: 81px;
        }
        &--third {
            max-width: 285px;
            margin-top: 320px;
            margin-left: -107px;
            margin-right: 64px;
            img {
                margin-top: 60px;
            }
        }
    }
    &__num {
        font-weight: 500;
        font-size: 2.1875rem;
        line-height: 1.37;
        margin-bottom: 5px;
    }
    &__name {
        font-family: GT Eesti Pro Text;
        font-size: 1.125rem;
        font-weight: 400;
        line-height: 1.55;
        margin-bottom: 16px;
    }
    &__desc {
        font-family: GT Eesti Pro Text;
        font-size: 1rem;
        line-height: 1.68;
        color: #989898;
        font-weight: 400;
    }
    &__img {
        position: absolute;
        top: 0;
        right: 127px;
    }
}

.interface {
    padding-top: 114px;
    padding-bottom: 94px;
    &__top {
        display: flex;
        justify-content: space-between;
    }
    &__box {
        position: relative;
        // max-width: 717px;
        margin: 55px 0 58px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__info {
        max-width: 717px;
    }
    &__subtitle {
        margin-bottom: 20px;
    }
    &__text {
        font-family: GT Eesti Pro Text;
        font-weight: 400;
        font-size: 1.125rem;
        line-height: 1.55;
    }
    &__hand {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
    }
    &__inner {
        padding: 67px 75px;
        background: #f2f2f2;
        display: flex;
        justify-content: space-between;
        // column-gap: 100px;
    }
    &__item {
		position: relative;
        display: flex;
        flex-direction: column;
        max-width: 307px;
        img {
            filter: drop-shadow(0 4px 25px rgba(0, 0, 0, 0.1));
            margin-bottom: 32px;
        }
    }
    &__name {
        margin-top: auto;
        font-weight: 400;
        font-size: 1.5rem;
        line-height: 1.08;
        margin-bottom: 20px;
    }
    &__desc {
        font-family: GT Eesti Pro Text;
        font-size: 1.125rem;
        line-height: 1.55;
        font-weight: 400;
    }
	&__img {
		position: absolute;
		top: 50px;
		right: 0;
	} 
}

.safety {
    padding-top: 94px;
    background: $black;
    &__top {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }
    &__title {
        color: #ffffff;
        margin-right: 20px;
    }
    &__info {
        max-width: 511px;
    }
    &__subtitle {
        color: #ffffff;
        margin-bottom: 20px;
    }
    &__text {
        font-family: GT Eesti Pro Text;
        font-size: 1.125rem;
        line-height: 1.55;
        font-weight: 400;
        color: #ffffff;
    }
    &__inner {
        margin-top: 133px;
        display: grid;
        grid-template-columns: minmax(max-content, max-content) minmax(max-content, max-content);
        gap: 64px 60px;
        margin-bottom: 30px;
    }
    &__item {
        display: flex;
        max-width: 503px;
        align-items: flex-start;
        img {
            margin-right: 53px;
            flex-shrink: 0;
        }
    }
    &__name {
        font-weight: 400;
        font-size: 1.5rem;
        line-height: 1.08;
        color: #ffffff;
        margin-bottom: 20px;
    }
    &__desc {
        font-family: GT Eesti Pro Text;
        font-size: 1.125rem;
        line-height: 1.55;
        font-weight: 400;
        color: #ffffff;
    }
    &__bottom {
        max-width: 1000px;
        position: relative;
        margin: 0 auto;
    }
    &__shield {
        position: absolute;
        top: -139px;
        right: 0;
    }
}

.innovation {
    padding-top: 105px;
    padding-bottom: 78px;
    &__inner {
        display: flex;
        column-gap: 48px;
        align-items: flex-start;
    }
    &__info {
        max-width: 512px;
    }
    &__subtitle {
        margin-bottom: 108px;
        margin-top: 16px;
        position: relative;
        &:after {
            content: '';
            position: absolute;
            left: 0;
            bottom: -40px;
            width: 100%;
            max-width: 418px;
            height: 20px;
            background: url(../img/innovation-line.svg) center/cover no-repeat;
        }
    }
    &__text {
        margin-bottom: 71px;
        font-family: GT Eesti Pro Text;
        font-size: 1.125rem;
        line-height: 1.55;
        font-weight: 400;
    }
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        font-family: GT Eesti Pro Text;
        font-size: 1.125rem;
        font-weight: 400;
        line-height: 2.11;
        li {
            padding-left: 30px;
            position: relative;
            &:before {
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
                width: 13px;
                height: 13px;
                content: '';
                background: #f06400;
            }
        }
    }
    &__btn {
        text-decoration: none;
        width: 222px;
        height: 70px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #2d9cdb;
        border-radius: 34.665px;
        font-family: GT Eesti Pro Text;
        font-size: 1.125rem;
        color: #f2f2f2;
        margin-top: -100px;
        transition: 0.2s ease;
        border: 2px solid transparent;
        &:hover {
            border: 2px solid #2d9cdb;
            background: transparent;
            color: #2d9cdb;
        }
        &:disabled {
            opacity: 0.25;
        }
    }
}

.contact {
    padding-top: 100px;
    padding-bottom: 80px;
    background: #f2f2f2;
    &__inner {
        display: flex;
        align-items: center;
        column-gap: 59px;
    }
    &__box {
        max-width: 509px;
        width: 100%;
        padding: 47px 56px 43px;
        background: url(../img/contact.svg) center/contain no-repeat;
        display: flex;
        flex-direction: column;
        margin-left: -57px;
    }
    &__text {
        margin-top: 123px;
        font-size: 1.125rem;
        line-height: 1.55;
        font-weight: 400;
    }
}

.form {
    &__inputs {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 50px 64px;
        margin-bottom: 45px;
    }
    input {
        max-width: 327px;
        // width: 100%;
        width: 327px;
        border: none;
        padding: 0 30px;
        height: 59px;
        background: #ffffff;
        outline: none;
        font-size: 1rem;
        font-family: GT Eesti Pro Text;
        &::placeholder {
            color: #c6c6c6;
        }
    }
    &__btn {
        width: 167px;
        height: 70px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 2px solid #282828;
        border-radius: 34.665px;
        font-family: GT Eesti Pro Text;
        font-size: 1.125rem;
        font-weight: 400;
        color: $black;
        cursor: pointer;
        outline: none;
        transition: 0.2s ease;
        margin-bottom: 54px;
        &:hover {
            background: $black;
            color: #ffffff;
        }
        &:disabled {
            opacity: 0.25;
        }
    }
    &__terms {
        display: flex;
        align-items: flex-start;
    }
    &__checkbox {
        height: 0 !important;
        visibility: hidden;
        width: 0 !important;

        &:checked + .form__label::after {
            opacity: 1;
        }
    }

    &__label {
        background: #fff;
        cursor: pointer;
        display: block;
        height: 30px;
        position: relative;
        width: 30px;
        flex-shrink: 0;
        margin-right: 28px;

        &::after {
            content: '';
            background: url(../img/check.svg) center/cover no-repeat;
            height: 10.84px;
            left: 50%;
            position: absolute;
            top: 50%;
            transform: translate(-50%, -50%);
            width: 15.67px;
            transition: 0.2s linear;
            opacity: 0;
        }
    }
    &__term {
        font-family: GT Eesti Pro Text;
        font-size: 1rem;
        line-height: 1.68;
        font-weight: 400;
        color: $black;
    }
}

.footer {
    padding: 85px 0;
    &__inner {
        display: flex;
        justify-content: space-between;
        margin-bottom: 47px;
        align-items: center;
    }
    &__nav {
        display: flex;
        column-gap: 37px;
    }
    &__link {
        font-family: GT Eesti Pro Text;
        font-size: 1.125rem;
        line-height: 1.55;
        color: $black;
        text-decoration: none;
    }
    &__social {
        display: flex;
        column-gap: 39px;
    }
    &__copyright {
        font-family: GT Eesti Pro Text;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.68;
        color: #c6c6c6;
        padding-bottom: 29px;
        border-bottom: 2px solid #f2f2f2;
        margin-bottom: 26px;
    }
    &__terms {
        display: flex;
        column-gap: 39px;
        a {
            font-family: GT Eesti Pro Text;
            font-size: 1rem;
            line-height: 1.68;
            font-weight: 400;
            color: #c6c6c6;
            text-decoration: none;
        }
    }
}

.property {
    position: relative;
	padding-top: 70px;
    &__title {
        margin-bottom: 67px;
    }
}
  
